    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <!-- stylesheets -->
        <link rel="stylesheet" href="http://splunk.cleven-atl.ga/tree/Treant.css" type="text/css"/>
    </head>
    <body>

<ul>
	{% for proc in procs %}
		<li> {{ proc.parent.name }} </li>

		{% for child in proc.children %}
			<ul>{{ child.name }} 

			{% for grandchild in child.children %}
				<ul>{{ grandchild.name }} 

				{% for ggc in grandchild.children %}
					<ul> {{ ggc.name }}

					{% for gggc in ggc.children %}
						<ul> {{ gggc.name }}

							{% for ggggc in gggc.children %}
							<ul> {{ ggggc.children  }}

								{% for g5 in gggg.children %}
								<ul> {{ g5.children }} </ul>

							{% endfor %} </ul>
						{% endfor %} </ul>
					{% endfor %} </ul>
				{% endfor %} </ul>
			{% endfor %}</ul>
		{% endfor %}
	{% endfor %}

</ul>


    </body>
    </html>
